Package: HenryQuan
Name: retry
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Henry & Vincent
Author: Henry & Vincent
Section: Tweaks
